# ------------------------------------------------------------------------------
# Ignored files
# ------------------------------------------------------------------------------

.vault_pass
.DS_Store
.idea/
.env
*.log
